<!DOCTYPE html>
<html>
  <head>
     <!-- Bootstrap CSS styling -->
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>View Image</title>
  </head>
  <body class="m-5">
   <div class="container">
    <div class="row justify-content-center">
      <div class="col-3">
        <a href="{% url 'memories' %}" class="btn btn-dark my-3">Go Back</a>
      </div>
      <div class="col">
        <div style="height: 90vh;">
          <img src="{{photo.image.url}}" style="width: 50%;">
          <p>{{photo.descriptionImage}}</p>
          <a href="{% url 'deleteImage' photo.id %}">
          <button class="btn btn-dark btn-lg" >Delete Image</button></a>
        </div>
      </div>

    </div>

   </div>
  
  </body>
</html>